#include <windows.h>
#include "config.h"

1284 ICON "oware.ico"

200 MENU
BEGIN
    POPUP "Plik"
    {
        MENUITEM "&Nowa Gra", 100
        MENUITEM SEPARATOR
        MENUITEM "&Koniec", 101
    }
    MENUITEM "&Pomoc", 102
END
//                                    W    H
IDD_CONFIG DIALOG DISCARDABLE 20, 20, 130, 120
STYLE DS_MODALFRAME | WS_DLGFRAME | WS_CAPTION | WS_SYSMENU
CAPTION "Ustawienia"
FONT 8, "MS Sans Serif" {
    LTEXT "Gracz 1:", - 1, 10, 5, 150,200 
    EDITTEXT IDC_GRACZ1, 10, 15, 110, 13
   // X, Y , Szero, Wysk
    LTEXT "Gracz 2:", - 1, 10, 30, 150, 200
    EDITTEXT IDC_GRACZ2, 10, 40, 110, 13
   
    AUTOCHECKBOX "AI", IDC_AI, 10, 60, 20, 20
   
    LTEXT "Poziom", - 1, 50,65 , 100, 10
   
    COMBOBOX IDC_COMBOBOX, 50, 75, 70, 48, WS_TABSTOP | CBS_DROPDOWNLIST
   
    DEFPUSHBUTTON "&OK", IDOK, 10, 100, 30, 14
    PUSHBUTTON "&Anuluj", IDCANCEL, 90, 100, 30, 14
}
//
IDD_GAMEEND DIALOG DISCARDABLE 20, 20, 200, 66
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Koniec Gry"
FONT 8, "MS Sans Serif"
{
    DEFPUSHBUTTON "&TAK!", IDOK, 124, 18, 50, 14
    PUSHBUTTON "&NIE", IDCANCEL, 124, 35, 50, 14
    LTEXT "Czy chcesz rozpocz¹æ now¹ grê?", IDC_LABEL, 16, 18, 80, 33
}

